*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
body {
  font-family: "Bai Jamjuree", sans-serif;
}
.header3 {
  font-weight: 600;
}
