.input {
  min-height: 41.6rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem;
  &__input {
    border: none;
    font-size: 2rem;
    // color: $blue;
    padding: 1rem;
    border-left: $side-bar-border;
    &:focus {
      outline: none;
    }
    margin-bottom: 1rem;
  }
}
.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plate-h1 {
  font-size: 1.875rem;
  font-weight: 200;

  line-height: 2rem;
}
.plate-blockquote {
  margin: 0rem;
  color: grey;
  border-left: 3px solid grey;
  padding-left: 1rem;
}
.plate-ol-li,
.plate-ul-li {
  margin-left: 1rem;
}
.submit__buttons {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem 0;
  justify-content: space-between;
  &--button {
    padding: 0.5rem 1rem;
    border: none;
    border: 1px grey solid;
    border-radius: 1rem;
  }
}
.lowertitle {
  margin-bottom: 2rem;
}
